---
# 1. Headless Service (For Stable Network Identities)
apiVersion: v1
kind: Service
metadata:
  name: mongo-service  # This name will be part of the Pod DNS
  labels:
    app: mongo
spec:
  ports:
    - port: 27017
      targetPort: 27017
      name: mongo
  clusterIP: None      # "None" makes it a Headless Service
  selector:
    app: mongo
---
# 2. StatefulSet (For Data Persistence & Identity)
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mongo
spec:
  serviceName: "mongo-service" # Link to Headless Service
  replicas: 2
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      containers:
        - image: mongo:8
          name: mongo
          env:
            - name: MONGO_INITDB_ROOT_USERNAME
              valueFrom:
                secretKeyRef:
                  name: ecommerce-secrets
                  key: MONGO_INITDB_ROOT_USERNAME
            - name: MONGO_INITDB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: ecommerce-secrets
                  key: MONGO_INITDB_ROOT_PASSWORD
            - name: MONGO_INITDB_DATABASE
              valueFrom:
                configMapKeyRef:
                  name: ecommerce-config
                  key: DB_NAME
          ports:
            - containerPort: 27017
              name: mongo
          volumeMounts:
            - name: mongo-data
              mountPath: /data/db
  
  # 3. Dynamic Volume Provisioning (EBS CSI Driver)
  volumeClaimTemplates:
    - metadata:
        name: mongo-data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        storageClassName: "ebs-sc" # Make sure you create this StorageClass with encrypted: "true"
        resources:
          requests:
            storage: 5Gi
